@{ ViewData["Title"] = "Home Page"; }
@inject Repository.Services.ICloudinaryService _cloudinaryServise
@model HomeViewModel
@{ var a = 0; }

<!-- start of hero -->
<section class="hero-slider hero-style-1">
    <div class="bottom-links">
        <div>
            <a href="#">
                <i class="fi flaticon-money-bag"></i>
                <h4>Make a Claim</h4>
                <p>You can claim you money</p>
            </a>
        </div>
        <div>
            <a href="#">
                <i class="fi flaticon-agent"></i>
                <h4>Find An Agent</h4>
                <p>Want an agent?</p>
            </a>
        </div>
    </div>

    <div class="swiper-container">
        <vc:slider></vc:slider>
        <!-- end swiper-wrapper -->
        <!-- swipper controls -->
        <div class="swiper-pagination"></div>
        <div class="pagi">
            <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div>
        </div>
    </div>
</section>
<!-- end of hero slider -->
<!-- start about-section -->
<section class="about-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="inner clearfix">

                    <div class="left-col">
                        <div class="section-title">
                            <span>About us</span>
                            <h2>@Model.Abouts.ElementAt(0).Title</h2>
                        </div>
                        <div class="details">
                            <p>@Model.Abouts.ElementAt(0).Text</p>
                            <h5>@Model.Settings.Phone</h5>
                        </div>
                        <div class="fun-fact-area">
                            <div class="fun-fact-grids clearfix">
                                @foreach (var item in Model.Counts)
                                {
                                    <div class="grid">
                                        <div class="info">
                                            <i class="@item.Icon"></i>
                                            <h3><span class="odometer" data-count="@item.CountNumber">00</span></h3>
                                            <p>@item.Name</p>
                                        </div>
                                    </div>}
                            </div>
                        </div>
                    </div>
                    <div class="right-col">
                        <div class="about-info">
                            <h3>@Model.Abouts.ElementAt(0).Information </h3>
                            <p>@Model.Abouts.ElementAt(0).SubDetail</p>
                            <a href="@Model.Abouts.ElementAt(0).EndPoint" class="theme-btn">@Model.Abouts.ElementAt(0).ActionText</a>
                        </div>
                        <div class="img-holder">
                            <img src="@_cloudinaryServise.BuildUrl(Model.Abouts.ElementAt(0).Image)" alt="@_cloudinaryServise.BuildUrl(Model.Abouts.ElementAt(0).Image)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end about-section -->
<!-- start service-section -->
<section class="service-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title-s2">
                    <span>Bizim ən yaxşı Servislər</span>
                    <h2>Müştərilərimiz üçün ən yaxşı sığorta servisləri</h2>
                </div>
            </div>
            <div class="col col-xs-12">

                <div class="service-slider">
                    @foreach (var item in Model.Services)
                    {
                        <div class="grid">

                            <a href="/Service">
                                <i class="@item.Logo"></i>
                                <h3>@item.Name</h3>
                            </a>
                        </div>}

                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end service-section -->
<!-- start cta-section -->
<section class="cta-section section-padding">
    <div class="container">
        @foreach (var item in Model.LikeableAreas)
        {
            <div class="row">
                <div class="col col-xs-12">
                    <div class="inner clearfix">
                        <div class="left-col">
                            <div class="section-title">
                                <span>Likeable area</span>
                                <h2>@item.Title</h2>
                            </div>
                            <div class="details">
                                <p>@item.Information</p>
                            </div>
                        </div>
                        <div class="right-col">
                            <div class="contact-info">
                                <p>@item.CallUs</p>
                                <h2>@item.Phone</h2>
                                <a href="@item.EndPoint" class="theme-btn-s3">@item.ActionText</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-xs-12">
                    <div class="video-area">
                        <div class="img-holder">
                            <img src="~/images/@item.Phote" alt>
                            <div class="video-btns">
                                <a href="@item.Video" class="video-btn" data-type="iframe" tabindex="0"><i class="fi flaticon-play"></i></a>
                            </div>
                        </div>
                        <div class="experience-text">
                            <p><span>@item.Year</span> @item.Experience</p>
                        </div>
                    </div>
                </div>
            </div>}
    </div> <!-- end container -->
</section>

<!-- end cta-section -->
<!-- start pricing-section -->
<section class="policy-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title-s2">
                    <span>Bizim ən yaxşı planlarımız</span>
                    <h2>Sığorta Planı Həyatınızdakı Hədəflərə Çatın</h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-xs-12">
                <div class="policy-grids">
                    @foreach (var item in Model.OurBestPlans)
                    {
                        <div class="grid">
                            @if (item.Label.Id == 1)
                            {<div class="hilight-tag">@item.Label.Text</div>}


                            <div class="policy-header">
                                <h5>@item.Title</h5>
                                <i class="fi flaticon-umbrella"></i>
                            </div>
                            <div class="policy-body">
                                <ul>
                                    <li>@item.Detail1</li>
                                    <li>@item.Detail2 </li>
                                    <li>@item.Detail3</li>
                                    <li>@item.Detail4</li>
                                </ul>
                                <a href="@item.EndPoint" class="theme-btn-s3">@item.ActionText</a>
                            </div>
                        </div>}

                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end policy-section -->
<!-- start cta-s2-section -->
<section class="cta-s2-section">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="content-area clearfix">
                    <div class="left-col">
                        <div class="details">
                            <h2>New to Insurance? No Problem.</h2>
                            <p>Recently cut out of an illustrated magazine and housed in a nice, gilded frame. It showed a lady fitted out with a fur hat and fur boa who sat upright, raising a heavy fur muff that covered the whole of her lower</p>
                            <ul>
                                <li><a href="#">Insurance</a></li>
                                <li><a href="#">Understanding Homeowners Insurance</a></li>
                                <li><a href="#">Understanding Car Insurance</a></li>
                                <li><a href="#">Resources Overview</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="right-col">
                        <div class="text">
                            <p>Hi, I am agent venod <span>++685785475</span></p>
                        </div>
                        <div class="img-holder">
                            <img src="~/images/agent-v.png" alt>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- end cta-s2-section -->
<!-- start testimonials-section -->
<section class="testimonials-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-lg-6 col-lg-offset-3 col-md-8 col-md-offset-2 col-sm-10 col-sm-offset-1">
                <div class="section-title-s2">
                    <span>Testimonials</span>
                    <h2>İnsanlar Bizim Haqqımızda Nə Deyir</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="testimonials-slider">
                    <vc:testimonial></vc:testimonial>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end testimonials-section -->
<!-- start blog-section -->
<section class="blog-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-xs-12">
                <div class="content-area">
                    <div class="left-col">
                        <div class="section-title-s3">
                            <span>From our blog</span>
                        </div>
                        @foreach (var item in Model.OurBlogs)
                        {

                            <h2>@item.Title</h2>
                            @if (item.Text.Length > 200)
                            {
                                <p>@item.Text.Substring(0, 200).....</p>}

                            <div class="blog-post-w-media post">
                                <div class="entry-media">
                                    <img src="~/images/blog/img-1.jpg" alt="">
                                </div>
                                <p class="cat"><i class="fi flaticon-tag-1"></i> @item.Tag</p>
                                <h3><a href="#">@item.SubTitle</a></h3>
                                <p class="text"> @item.SubText</p>
                                <a href="/Blog/Detailed/@item.Id" class="theme-btn">@item.ActionText</a>
                            </div>break;
                        }
                    </div>
                    <div class="right-col">
                        @foreach (var item in Model.OurBlogs)
                        {
                            a++;
                            if (a == 1)
                            {
                                continue;
                            }


                            <div class="post">
                                <p class="cat"><i class="fi flaticon-tag-1"></i> @item.Tag</p>
                                <h3><a href="#">@item.Title</a></h3>
                                @if (item.Text.Length > 200)
                                {
                                    <p class="text">@item.Text.Substring(0, 200).....</p>}

                                <a href="/Blog/Detailed/@item.Id" class="theme-btn">@item.ActionText</a>
                            </div>
                            if (a == 4)
                            {
                                break;
                            }
                        }

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end blog-section -->
<!-- start cta-s3-section -->
@foreach (var item in Model.CoverdAds)
{<section class="cta-s3-section section-padding">
        <div class="container">
            <div class="row">
                <div class="col col-xs-12">
                    <div class="inner clearfix">
                        <div class="cta-content">
                            <h2>@item.Title</h2>
                            <p>@item.Text </p>
                            <a href="@item.EndPoint" class="theme-btn-s4">@item.ActionText</a>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- end container -->
    </section>}

<!-- end cta-s3-section -->
