@model CaseViewModel
@{
    ViewData["Title"] = "Nümunəvi Araşdırmalar Ətraflı";
}

<!-- start page-title -->
@await Html.PartialAsync("../Shared/Page/_BreadCrumb" )
<!-- end page-title -->
<!-- start project-single-section -->
<section class="project-single-section section-padding">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <div class="img-holder">
                    <img src="~/images/project-single/@Model.CaseStudies.ElementAt(0).Image" alt="">
                </div>
            </div>
            <div class="col col-md-6">
                <div class="project-details">
                    <h2>@Model.CaseStudies.ElementAt(0).Title</h2>
                    <h3>@Model.CaseStudies.ElementAt(0).Detail</h3>
                    <p>@Model.CaseStudies.ElementAt(0).SubDetail</p>
                    <div class="project-info">
                        <ul class="clearfix">
                            @foreach (var item in Model.CaseStudies)
                            {
                                @foreach (var spec in item.Specs)
                                {
                                    <li><span>@spec.Key</span> @spec.Value</li>
                                }}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="project-single-tab clearfix">
                    <ul class="nav">
                        <li class="active">
                            <a href="#precautions" data-toggle="tab">Challenge</a>
                        </li>
                        <li>
                            <a href="#intelligence" data-toggle="tab">Solution</a>
                        </li>
                        <li>
                            <a href="#specializations" data-toggle="tab">Results</a>
                        </li>
                    </ul>

                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="precautions">
                            <p>@Model.CaseStudies.ElementAt(0).Challenge</p>
                        </div>
                        <div class="tab-pane fade" id="intelligence">
                            <p>@Model.CaseStudies.ElementAt(0).Solution</p>
                        </div>
                        <div class="tab-pane fade" id="specializations">
                            <p>@Model.CaseStudies.ElementAt(0).Result</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-xs-12">
                <div class="related-case-studies">
                    <h2>Related Case Studies</h2>
                    <div class="case-studies-grids">
                        @foreach (var item in Model.OurAgents)
                        {
                            <div class="grid">
                                <div class="img-holder">
                                    <img src="~/uploads/@item.Image" alt="@item.Image">
                                </div>
                                <div class="overlay">
                                    <div class="content">
                                        <p class="cat">Insurance</p>

                                        <h3><a href="/Service/Index">@item.Service.Name</a></h3>
                                    </div>
                                </div>
                            </div>}

                    </div>
                </div>
            </div>
        </div>
    </div> <!-- end container -->
</section>
<!-- end project-single-section -->
