
@model BlogViewModel
@{ ViewData["Title"] = "Blog Ətraflı"; }

<!-- start page-title -->
@await Html.PartialAsync("../Shared/Page/_BreadCrumb")
<!-- end page-title -->
<!-- start blog-pg-section -->
<section class="blog-pg-section blog-grid-4-columns section-padding">
    <div class="container-fluid">
        <div class="row">
            <div class="col col-xs-12">
                <div class="blog-content clearfix">
                    @foreach (var item in Model.OurBlogs)
                    {
                        @if (item.Video != null)
                        {
                    <div class="post format-video">
                        <div class="entry-media video-holder">
                            <img src="~/images/blog/@item.Image" alt="@item.Image">
                            <a href="@item.Video" class="video-btn" data-type="iframe">
                                <i class="fi flaticon-play"></i>
                            </a>
                        </div>
                        <ul class="entry-meta">
                           
                            <li><a href="/Service"><i class="fi flaticon-tag-1"></i>  @item.Tag</a></li> 
                        </ul>
                        <h3><a href="#">@item.Title</a></h3>
                        @if (item.Text.Length > 200)
                        {
                            <p>@item.Text.Substring(0, 200).....</p>}
                    <a href="/Blog/Detailed/@item.Id" class="theme-btn-s3">@item.ActionText</a>
                    </div>}
                        else { <div class="post format-standard-image">
    <div class="entry-media">
        <img src="~/images/blog/@item.Image" alt="@item.Image">
    </div>
    <ul class="entry-meta">
        <li><a href="/Service"><i class="fi flaticon-tag-1"></i>  @item.Tag</a></li>
    </ul>
    <h3><a href="#">@item.Title</a></h3>
    @if (item.Text.Length > 200)
    {
        <p>@item.Text.Substring(0, 200).....</p>}
    <a href="/Blog/Detailed/@item.Id" class="theme-btn-s3">@item.ActionText</a>
</div>}

                        }

                    @if (Model.Count > Model.Limit)
                    {
                        <div class="pagination-wrapper pagination-wrapper-center">
                            <ul class="pg-pagination">
                                @if (Model.Page != 1)
                                {
                                    <li>
                                        <a asp-controller="blog"
                                           asp-action="index"
                                           asp-route-page="@(Model.Page-1)">
                                            <i class="fi flaticon-back"></i>
                                        </a>
                                    </li>
                                }
                                @for (int i = 0; i < Math.Ceiling(Model.Count / (double)Model.Limit); i++)
                                {

                                    <li>
                                        <a asp-controller="blog"
                                           asp-action="index"
                                           asp-route-page="@(i+1)"
                                           class="@(i+1==Model.Page?"active":"")">@(i + 1)</a>
                                    </li>
                                }
                                @if (Model.Page != Math.Ceiling(Model.Count / (double)Model.Limit))
                                {
                                    <li>
                                        <a asp-controller="blog"
                                           asp-action="index"
                                           asp-route-page="@(Model.Page+1)">
                                            <i class="fi flaticon-next"></i>
                                        </a>
                                    </li>
                                }
                            </ul>
                        </div>}




                </div>
            </div>
        </div>
    </div>
    <!-- end container -->
</section>
<!-- end blog-pg-section -->
<!-- end blog-pg-section -->
