@model IEnumerable<SliderItemViewModel>
@inject Repository.Services.ICloudinaryService _cloudinaryServise

<div class="swiper-wrapper">

    @foreach (var item in Model)
    {
<div class="swiper-slide">
    <div class="slide-inner slide-bg-image" data-background="@_cloudinaryServise.BuildUrl(item.Image)">
        <div class="container">
            <div data-swiper-parallax="300" class="slide-title">
                <h2>@item.Title</h2>
            </div>
            <div data-swiper-parallax="400" class="slide-text">
                <p>@item.Slogan</p>
            </div>
            <div class="clearfix"></div>
            @if (!string.IsNullOrEmpty(item.EndPoint))
            {
<div data-swiper-parallax="500" class="slide-btns">
    <a href="@item.EndPoint" class="theme-btn">@item.ActionText</a>
</div>}

        </div>
    </div> <!-- end slide-inner -->
</div> <!-- end swiper-slide -->}
</div>