@model IEnumerable<LikeableAreaViewModel>



@foreach (var item in Model)
{
    <div class="row">
        <div class="col col-xs-12">
            <div class="inner clearfix">
                <div class="left-col">
                    <div class="section-title">
                        <span>Likeable area</span>
                        <h2>@item.Title</h2>
                    </div>
                    <div class="details">
                        <p>@item.Information</p>
                    </div>
                </div>
                <div class="right-col">
                    <div class="contact-info">
                        <p>@item.CallUs</p>
                        <h2>@item.Phone</h2>
                        <a href="@item.EndPoint" class="theme-btn-s3">Contact with Us</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-xs-12">
            <div class="video-area">
                <div class="img-holder">
                    <img src="~/images/@item.Phote" alt>
                    <div class="video-btns">
                        <a href="@item.Video" class="video-btn" data-type="iframe" tabindex="0"><i class="fi flaticon-play"></i></a>
                    </div>
                </div>
                <div class="experience-text">
                    <p><span>@item.Year</span> @item.Experience</p>
                </div>
            </div>
        </div>
    </div>
}